.splash-section {
  min-height: 700px;
  padding: 250px 0 175px 0;
  background: url('../img/splash-bg.png') no-repeat 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;

  @include media-breakpoint-down(sm) {
    padding: 50px 0;
    min-height: 300px;
  }

  @include media-breakpoint-down(xs) {
    min-height: 200px;
  }

  .splash-heading {
    font-size: 91px;
    color: #fff;
    font-weight: 700;
    margin: 0;

    @include media-breakpoint-down(sm) {
      font-size: 60px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 32px;
    }
  }
}

.search-wrapper {
  background-color: #000;
  position: relative;

  .wrapper {
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }
  
  &__input {
    .icon-search {
      position: absolute;
      top: 13px;
      left: 27px;
      background: none;
      padding: 0;
      border: none;
      cursor: pointer;
      outline: none;

      @include media-breakpoint-down(sm) {
        left: 15px;
      }
    }
    
    input {
      display: block;
      background-color: #4c4c4c;
      border: none;
      height: 50px;
      width: 250px;
      outline: none;
      padding: 0 0 0 50px;
      color: #fff;
      @include transition(.4s);

      &:focus {
        width: 100%;
      }
    }
  }
}

.search-wrapper__list {
  padding: 35px 0;
  position: relative;
  display: none;

  @include media-breakpoint-down(sm) {
    padding: 35px 15px;
  }

  &.show {
    display: block;
  }

  .no-results {
    color: #fff;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 25px;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
        width: 17px;
        height: 17px;
        border: 8px solid transparent;
        border-left-color: $b-yellow;
      }

      a {
        display: inline-block;
        font-size: 22px;
        font-weight: 500;
        text-transform: uppercase;
        color: $b-yellow;

        @include media-breakpoint-down(sm) {
          font-size: 14px;
        }
      }
    }
  }
}

.hide-results {
  position: absolute;
  top: 30px;
  right: 0;
  cursor: pointer;
  z-index: 10;

  @include media-breakpoint-down(sm) {
    right: 15px;
    top: 10px;
  }
}

.repeat-heading {
  font-size: 30px;
  font-weight: 500;
  color: $b-brown;
  text-transform: uppercase;
  margin: 0 0 70px 0;

  @include media-breakpoint-down(sm) {
    margin: 0 0 30px 0;
    font-size: 20px;
  }
}

.catalog-wrap {
  height: 563px;

  &.active {
    height: auto;
  }

  @include media-breakpoint-down(md) {
    height: auto;
  }
}

.catalog-grid {
  position: relative;

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.catalog-col {
  width: 20%;
  border-right: 1px solid #d7d7d7;
  padding: 0 35px;
  cursor: pointer;
  position: absolute;
  top: 0;
  min-height: 280px;
  background-color: #fff;
  z-index: 100;
  @include transition(.5s);

  @include media-breakpoint-down(md) {
    padding: 0 15px;
    width: 50%;
    border: none;
    text-align: center;
    position: static;
  }

  @include media-breakpoint-down(xs) {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  &:nth-child(1) {
    left: 0;
  }

  &:nth-child(2) {
    left: 20%;
  }

  &:nth-child(3) {
    left: 40%;
  }


  &:nth-child(4) {
    left: 60%;
  }

  &:nth-child(5) {
    left: 80%;
  }

  &.hide {
    opacity: 0;
    visibility: hidden;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    left: 0;
    border-color: transparent;

    @include media-breakpoint-down(md) {
      display: block;
      width: 100%;
      min-height: 210px;
      border-bottom: 1px solid #eee
    }

    .catalog-col__heading,
    .catalog-col__description {
      display: none;
    }

    @include media-breakpoint-down(md) {
      .catalog-col__heading {
        display: block;
      }
    }
  }

  &:last-child {
    border: none;
  }

  &__img {
    height: 145px;
    margin-bottom: 35px;
    text-align: center;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &__heading {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;

    &.color1 {
      color: $b-brown;
    }

    &.color2 {
      color: $b-green;
    }

    &.color3 {
      color: $b-red;
    }

    &.color4 {
      color: $b-purple;
    }

    &.color5 {
      color: $b-blue;
    }
  }

  &__description {
    font-size: 12px;
    font-weight: 500;
    color: #5a5a5a;
  }
}

.sub-category-grid {
  padding-left: 20%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100px);
  @include transition(.5s);

  @include media-breakpoint-down(md) {
    display: none !important;
    width: 100%;
    padding-left: 0;
  }

  &.show {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;

    @include media-breakpoint-down(md) {
      display: flex !important;
    }
  }
}

.sub-category-col {
  width: 25%;
  padding: 0 35px;

  @include media-breakpoint-down(md) {
    padding: 0 15px;
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(xs) {
    width: 100%;
    padding: 0;
  }

  &__img {
    height: 160px;
    text-align: center;
    margin-bottom: 35px;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    .list-item {
      margin-bottom: 10px;
      color: $b-brown;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.catalog-details {
  background-color: $b-bg;
  display: none;

  .hide-results {
    top: -25px;
    right: 15px;

    @include media-breakpoint-down(sm) {
      top: -15px;
    }
  }

  &__img {
    text-align: center;
    margin-bottom: 30px;

    img {
      max-width: 100%;
    }
  }

  &__info {
    color: #000;

    span {
      display: block;
    }
    
    .info-heading {
      border-bottom: 4px solid #000;
      background: url("../img/icons/icon-car.png") no-repeat 99% 75%;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 700;
      padding-bottom: 10px;
      margin-bottom: 25px;
      padding-right: 100px;

      mark {
        background: none;
        padding: 0;
        text-transform: none;
        font-weight: 600;
      }
    }

    .info-type {
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 15px;
    }

    .info-models {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .info-description {
      font-size: 16px;
      line-height: 25px;
      font-weight: 500;
      margin: 0 0 25px 0;
    }

    .info-volume {
      img {
        display: inline-block;
        vertical-align: bottom;
        margin-right: 25px;

        @include media-breakpoint-down(sm) {
          margin-bottom: 10px;
        }
      }

      .volume {
        display: inline-block;
        vertical-align: bottom;
        font-size: 25px;
        font-weight: 600;
      }
    }
  }
}

.select-oil {
  background-color: #000;

  @include media-breakpoint-down(sm) {
    padding: 30px 0 60px 0 !important;
  }

  .select-oil-img {
    text-align: center;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    img {
      max-width: 100%;
    }
  }
}

.select-wrap {
  position: relative;
  margin-bottom: 30px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 15px;
  }

  &.border-outline {
    border: 1px solid #acacac;
  }
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 40px;
    height: 100%;
    width: 1px;
    background-color: #acacac;
  }

  &:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border: 1px solid #878787;
    border-right: none;
    border-top: none;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%) rotate(-45deg);
    pointer-events: none;
  }
  
  select {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #878787;
    cursor: pointer;
    padding: 10px 40px 10px 10px;
  }
}

.select-btn-wrap {
  button {
    display: block;
    width: 100%;
    height: 40px;
    background-color: $b-brown;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    @include transition(.2s);
    
    &:hover {
      background-color: #b7984e;
    }
  }
}

.select-info {
  height: 100%;
  background-color: #fff;
  position: relative;
  padding-top: 15px;
  padding-bottom: 45px;

  @include media-breakpoint-down(sm) {
    margin-top: 15px;
  }

  &__txt {
    padding: 0 15px;
    font-size: 14px;
    font-weight: 500;
    color: #878787;
    display: block;
    margin-bottom: 5px;
  }
  
  &__type-fuel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #dfdfdf;
    font-size: 14px;
    font-weight: 500;
    color: #878787;
    padding: 13px 15px;
  }
}

.news-grid {
  margin-left: -13px;
  margin-right: -13px;

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }
}

.news-col {
  width: 20%;
  margin: 0 13px;
  cursor: pointer;

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
    width: 29%;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    margin-bottom: 35px;
  }

  &__img {
    text-align: center;
    margin-bottom: 35px;

    img {
      max-width: 100%;
    }
  }

  &__body {
    .news-heading {
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      color: $b-brown;
      margin-bottom: 20px;
      min-height: 40px;

      @include media-breakpoint-down(sm) {
        min-height: initial;
        margin-bottom: 10px;
      }
    }

    .news-description {
      font-size: 16px;
      font-weight: 500;
      color: #5a5a5a;
      margin: 0;

      @include media-breakpoint-down(sm) {
        font-size: 14px;
      }
    }
  }
}

.news-details {
  background-color: $b-bg;
  display: none;

  .hide-results {
    top: -25px;
    right: -5px;

    @include media-breakpoint-down(sm) {
      right: 15px;
    }
  }

  &__img {
    text-align: center;
    margin-bottom: 30px;

    img {
      max-width: 100%;
    }
  }

  &__info {
    .info-heading {
      font-size: 30px;
      font-weight: 700;
      color: #000;
      margin-bottom: 35px;

      @include media-breakpoint-down(sm) {
        font-size: 22px;
        margin-bottom: 20px;
      }
    }

    .info-description {
      font-size: 16px;
      line-height: 24px;
      color: #000;
      font-weight: 500;
      margin-bottom: 20px;

      @include media-breakpoint-down(sm) {
        font-size: 14px;
      }
    }

    .link-news {
      display: block;
      margin-top: 30px;
      font-style: italic;
      font-size: 16px;
      text-align: right;
      color: #000;
    }
  }
}

.section-brexol {
  background: url("../img/info-section-bg.png") no-repeat 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;

  &__img {
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  &__info {
    .info-description {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: #fff;
      margin-bottom: 20px;

      @include media-breakpoint-down(sm) {
        font-size: 14px;
      }
    }
  }
}

.slider {
  &__slide {
    width: 100%;
    min-height: 635px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    outline: none;

    @include media-breakpoint-down(sm) {
      min-height: 340px;
    }
  }
}

.find-region {
  .repeat-heading, .select-wrap {
    margin: 0;

    @include media-breakpoint-down(sm) {
      margin: 0 0 30px 0;
    }
  }
}

.find-region-results {
  background-color: #eaeaea;
  
  .search-wrapper__list {
    ul {
      li {
        &:before {
          border-left-color: #000;
        }

        a {
          color: #000;
        }
      }
    }
  }
}