@import "mixins";
@import "vars";
@import "libs";
@import "header";
@import "footer";
@import "landing";

body {
	min-width: 320px;
	position: relative;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	line-height: 1.12;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
}

main {
	margin-top: 100px;
}

.section-wrap {
	padding: 75px 0;
}